In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
plt.style.use('ggplot')
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import classification_report, confusion_matrix
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer 
from sklearn.model_selection import train_test_split
#from mlxtend.plotting import plot_confusion_matrix
import matplotlib.cm as cm
from matplotlib import rcParams
from collections import Counter
from nltk.tokenize import RegexpTokenizer
import re
import string
# from tensorflow.keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding
# from tensorflow.keras.models import Model
# from tensorflow.keras.optimizers import RMSprop
# from tensorflow.keras.preprocessing.text import Tokenizer
# from tensorflow.keras.preprocessing import sequence
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [25]:
# from google.colab import drive
# drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# data = pd.read_csv('https://drive.google.com/file/d/1mqJzGqPJbLIKgdv1UOAKD6ACQTUEKgCo/view?usp=sharing/training.1600000.processed.noemoticon.csv', encoding = "ISO-8859-1", engine="python", sep = '","')
# data.columns = ["label", "time", "date", "query", "username", "text"]

In [2]:
#df = pd.read_csv('https://drive.google.com/file/d/1rbPSejEsGZhcmGpDcoc1Xo1brPtEjia_/view?usp=sharing/twitter_cleaning_one.csv', encoding = "ISO-8859-1", engine="python", sep = ',', error_bad_lines=False)
df = pd.read_csv('twitter_cleaning_one.csv', engine="python", sep = ',', error_bad_lines=False)

In [3]:
df

         Unnamed: 0  label                                               text
0                 0      0  @switchfoot   - awww, that's a bummer.  you sh...
1                 1      0  is upset that he can't update his facebook by ...
2                 2      0  @kenichan i dived many times for the ball. man...
3                 3      0    my whole body feels itchy and like its on fire
4                 4      0  @nationwideclass no, it's not behaving at all....
...             ...    ...                                                ...
1599995     1599995      1  just woke up. having no school is the best fee...
1599996     1599996      1  thewdb.com - very cool to hear old walt interv...
1599997     1599997      1  are you ready for your mojo makeover? ask me f...
1599998     1599998      1  happy 38th birthday to my boo of alll time!!! ...
1599999     1599999      1  happy #charitytuesday @thenspcc @sparkscharity...

[1600000 rows x 3 columns]