<a href="https://colab.research.google.com/github/DJ1070/NLP/blob/main/nlp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt
plt.style.use('ggplot')
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import classification_report, confusion_matrix
import nltk
from nltk.corpus import stopwords
#from nltk.stem import PorterStemmer 
from nltk.stem import SnowballStemmer
from sklearn.model_selection import train_test_split
from mlxtend.plotting import plot_confusion_matrix
#import matplotlib.cm as cm
#from matplotlib import rcParams
from collections import Counter
#from nltk.tokenize import RegexpTokenizer
import re
import string
import tensorflow as tf
from tensorflow.keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing import sequence
from tensorflow.keras.preprocessing.sequence import pad_sequences
%matplotlib inline

import warnings
warnings.filterwarnings("ignore")

In [5]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data/training.1600000.processed.noemoticon.csv', header = None)

In [21]:
df

         label                                             tweets
0            0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1            0  is upset that he can't update his Facebook by ...
2            0  @Kenichan I dived many times for the ball. Man...
3            0    my whole body feels itchy and like its on fire
4            0  @nationwideclass no, it's not behaving at all....
...        ...                                                ...
1599995      1  Just woke up. Having no school is the best fee...
1599996      1  TheWDB.com - Very cool to hear old Walt interv...
1599997      1  Are you ready for your MoJo Makeover? Ask me f...
1599998      1  Happy 38th Birthday to my boo of alll time!!! ...
1599999      1  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 2 columns]

In [10]:
df = df.drop([1, 2, 3, 4], axis = 1)

In [12]:
df.columns = ['label', 'tweets']

In [20]:
df['label'] = df['label'].replace(4, 1)