In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('training.1600000.processed.noemoticon.csv', header = None)

In [16]:
df.head()

,label,number,date,no_q,user,text
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [15]:
df.columns = ['label', 'number', 'date', 'no_q', 'user', 'text']

In [17]:
df.columns

Index(['label', 'number', 'date', 'no_q', 'user', 'text'], dtype='object')

In [19]:
df.shape

(1600000, 6)

In [21]:
df.dtypes

label      int64
number     int64
date      object
no_q      object
user      object
text      object
dtype: object

In [23]:
df = df.drop(['number', 'date', 'no_q', 'user'], axis = 1)

In [24]:
df.head()

   label                                               text
0      0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1      0  is upset that he can't update his Facebook by ...
2      0  @Kenichan I dived many times for the ball. Man...
3      0    my whole body feels itchy and like its on fire
4      0  @nationwideclass no, it's not behaving at all....

In [27]:
pd.Series(df.label.unique()).count()

2

In [35]:
df.label = df.label.replace(4, 1) 

df.label.unique()

array([0, 1], dtype=int64)