In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('training.1600000.processed.noemoticon.csv')

In [3]:
df

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
...,...,...,...,...,...,...
1599994,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599995,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599996,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599997,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599998,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [4]:
df.columns = ['0-4', 'number', 'date', 'no_q', 'user', 'text']

In [5]:
df.columns

Index(['0-4', 'number', 'date', 'no_q', 'user', 'text'], dtype='object')

In [14]:
contain_values = df[df['text'].str.contains('upset')]

In [17]:
contain_values.sort_values('user')

,0-4,number,date,no_q,user,text
680905,0,2249610766,Fri Jun 19 22:39:55 PDT 2009,NO_QUERY,0mnip0d,i'm upset.this wound have to heal.
66977,0,1692092820,Sun May 03 19:15:40 PDT 2009,NO_QUERY,1_50_1,@ABabyBlueEyes heeyy u didnt get my email.. u...
307710,0,2000536301,Mon Jun 01 22:20:20 PDT 2009,NO_QUERY,2bletrble,"Im upset, pissed, worried, depressed, anxious,..."
205731,0,1972951499,Sat May 30 10:11:38 PDT 2009,NO_QUERY,404leilani,something is sooo wrong with my picture... thi...
230139,0,1978670128,Sun May 31 00:05:00 PDT 2009,NO_QUERY,5_cats_4_dogs,"This has been a sad sad week for the anipals, ..."
...,...,...,...,...,...,...
415161,0,2060995520,Sat Jun 06 19:58:49 PDT 2009,NO_QUERY,zorago,@tehskinz right so you say I dint mment to up...
341877,0,2015140468,Wed Jun 03 03:49:33 PDT 2009,NO_QUERY,zozo1976,is upset cause the blues are losing
597973,0,2219403311,Thu Jun 18 00:27:35 PDT 2009,NO_QUERY,zozo1976,@kyleandjackieo Jackie!NKOTB cancelled their c...
136221,0,1880051821,Thu May 21 23:57:05 PDT 2009,NO_QUERY,zozo1976,is upset cause i am not at the pussycat dolls ...
56546,0,1685437975,Sun May 03 00:23:29 PDT 2009,NO_QUERY,zzjulz,@budget_blonde i was very upset the warriors l...