In [110]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [90]:
df = pd.read_csv('./data/training.1600000.processed.noemoticon.csv', header = None)

In [91]:
df.head()

,0,1,2,3,4,5
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [92]:
df.columns = ['label', 'number', 'date', 'no_q', 'user', 'text']
df.columns

In [65]:
df.shape

(1600000, 6)

In [66]:
df.dtypes

label      int64
number     int64
date      object
no_q      object
user      object
text      object
dtype: object

In [94]:
# Keep only label and text

df = df.drop(['number', 'date', 'no_q', 'user'], axis = 1)

In [95]:
df.head()

   label                                               text
0      0  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1      0  is upset that he can't update his Facebook by ...
2      0  @Kenichan I dived many times for the ball. Man...
3      0    my whole body feels itchy and like its on fire
4      0  @nationwideclass no, it's not behaving at all....

In [102]:
# Change Label to 0 = negative and 1 = positive

df.label.unique()

array([0, 1], dtype=int64)

In [96]:
df.label = df.label.replace(4, 1) 

df.label.unique()

array([0, 1], dtype=int64)

In [97]:
# Change capital letters in the text to small 

df.text = df.text.str.lower()

In [103]:
# Check for URLs in text to be cleaned

df.loc[df['text'].str.contains("http", case=False)].count()

label    70247
text     70247
dtype: int64

In [54]:
#re.sub(r'http://[./a-z0-9]*', '', test)

' - omg! office space... i wanna steal it. '

In [16]:
#test = re.sub('http:.* -', '', test)
#test

"@switchfoot  awww, that's a bummer.  you shoulda got david carr of third day to do it. d"

In [59]:
# re.sub(r'http://[./a-z0-9]*', ' ', df.iloc[0].text)

"@switchfoot   - awww, that's a bummer.  you shoulda got david carr of third day to do it. d"

In [139]:
df.loc[:, 'text'][0]

"@switchfoot   - awww, that's a bummer.  you shoulda got david carr of third day to do it. d"

In [100]:
# Removing URLs and punctuation

for i in range(len(df)):
    df.loc[:, 'text'][i] = re.sub(r'http://[./a-z0-9]*', ' ', df.loc[:, 'text'][0])
    df.loc[:, 'text'][i] = re.sub(r'[-,!.?;:]', ' ', df.loc[:, 'text'][0]) 

# df.loc[:, 'text'][0]

<ipython-input-100-19372c966d34>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'text'][0] = re.sub(r'http://[./a-z0-9]*', ' ', df.loc[:, 'text'][0])

"@switchfoot   - awww, that's a bummer.  you shoulda got david carr of third day to do it. d"

In [104]:
df.text = df.text.replace([',', '.', ';', ':', '!', '?'], '')

In [107]:
df.text = df.text.replace('.', '')

In [108]:
df.iloc[0]

label                                                    0
text     @switchfoot   - awww, that's a bummer.  you sh...
Name: 0, dtype: object

In [26]:
df.head()

   label                                               text
0      0  @switchfoot http://twitpic.com/2y1zl - awww, t...
1      0  is upset that he can't update his facebook by ...
2      0  @kenichan i dived many times for the ball. man...
3      0    my whole body feels itchy and like its on fire
4      0  @nationwideclass no, it's not behaving at all....

In [24]:
nltk.download('stopwords')
stopword = stopwords.words('english')
stopword

[nltk_data] Downloading package stopwords to C:\Users\Diana
[nltk_data]     Jaff√©\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]