In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('twitter_cleaning_one.csv')

In [9]:
df = df.replace('"', '')

In [13]:
df = df.drop('Unnamed: 0', axis = 1)

In [21]:
df

         label                                               text
0            0  @switchfoot   - awww, that's a bummer.  you sh...
1            0  is upset that he can't update his facebook by ...
2            0  @kenichan i dived many times for the ball. man...
3            0    my whole body feels itchy and like its on fire
4            0  @nationwideclass no, it's not behaving at all....
...        ...                                                ...
1599995      1  just woke up. having no school is the best fee...
1599996      1  thewdb.com - very cool to hear old walt interv...
1599997      1  are you ready for your mojo makeover? ask me f...
1599998      1  happy 38th birthday to my boo of alll time!!! ...
1599999      1  happy #charitytuesday @thenspcc @sparkscharity...

[1600000 rows x 2 columns]

In [20]:
df = df.replace('  ', ' ')

In [23]:
df.to_csv('twitter_cleaning_two.csv', encoding = 'utf-8')