In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('./data/cleaned_tweets.csv')

In [5]:
df

         Unnamed: 0  label                                               text
0                 0      0  awww that's bummer shoulda got david carr thir...
1                 1      0  upset can't update facebook texting might cry ...
2                 2      0  dived many times ball managed save % rest go b...
3                 3      0                   whole body feels itchy like fire
4                 4      0                         behaving i'm mad can't see
...             ...    ...                                                ...
1599995     1599995      1                      woke school best feeling ever
1599996     1599996      1   thewdb com cool hear old walt interviews ♫ ~bmta
1599997     1599997      1                    ready mojo makeover ask details
1599998     1599998      1  happy th birthday boo alll time tupac amaru sh...
1599999     1599999      1                              happy #charitytuesday

[1600000 rows x 3 columns]

In [6]:
df.to_csv('./data/cleanded_tweets.csv', sep = ';')